<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/gh/shakesvision/MehrNastaleeq@f4685c00850b66e3aa0b3e94a4755378d88c1d99/font.css" rel="stylesheet">
  <title>دعوتـ نامہ</title>
</head>
<body>
  <div class="main">
    <div class="header">
        <div class="poetry">
            <table class="sher">
                <tr>
                    <td>شکیبِ سادہ بپرسد بگو کہ فاصلہ چیست</td>
                </tr>
                <tr>
                    <td>میانِ نورِ شما و سیاہیِ دلِ من</td>
                </tr>
            </table>
        </div>
        <div class="name"> {{name}} </div>
        <div class="text">آپ بصد تکریم و اصرار مدعو ہیں از طرف</div>
    </div>
    <div class="me">
        <div class="groom">
            شکیبؔ احمد
        </div>
        <div class="parent">
            ولد محمد مختار ولد محمد جابر بکانو مرحوم
        </div>
    </div>
    <div *ngIf="showNikaah" class="nikaah">
        نکاح انشاء اللہ 13 نومبر بروز سنیچر بعد نمازِ عصر
        <br>
        بمقام جامع مسجد، کامٹی
        <br>
        طعام ان شاء اللہ بعد نمازِ عشاء، بر مکان محمد مختار، حاجی نگر، کلمنا روڈ، کامٹی
    </div>
    <div class="address">
      طعام ولیمہ ان شاء اللہ بروز اتوار
      <br>
     🕗 <br>
     بعد نمازِ عشاء
     <div class="date">
       <span class="num">14</span>
    <span class="m">نومبر، 2021</span>
    </div>
     📍  بمقام سن رائز لان، کلمنا روڈ، کامٹی
     <div class="addToCalender">
       <a [href]="googleCalendarEventUrl" target="_blank" rel="noopener noreferrer">
         <button class="en">📅 Add to Calender</button></a>
     </div>
    </div>
</div>
</body>
</html>