html {
  background: #ffdbdb;
}
body {
  background: #ffecf2;
  height: 100vh;
}
* {
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  font-family: "Mehr", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  direction: rtl;
  text-align: center;
}
.main {
  margin-top: 10px;
}
.en {
  direction: ltr;
}
title {
  font-size: xx-large;
}
.sher,
.sher {
  text-align: justify;
  text-align-last: justify;
  -o-text-align-last: justify;
  -ms-text-align-last: justify;
  -moz-text-align-last: justify;
  -webkit-text-align-last: justify;
  margin: 0 auto;
}
.nikaah {
  background: #fafab0;
  color: #6d6d05;
  border: 1px solid #6d6d05;
  padding: 1rem;
  margin: 20px;
  border-radius: 30px;
  box-shadow: 0px 10px 10px -6px rgb(117 103 103 / 75%);
  -webkit-box-shadow: 0px 10px 10px -6px rgb(117 103 103 / 75%);
  -moz-box-shadow: 0px 10px 10px -6px rgba(117, 103, 103, 0.75);
  position: relative;
  .niHeading {
    position: absolute;
    top: -20px;
    right: 0;
    left: 0;
    margin: auto;
    background: #6d6d05;
    color: #fafab0;
    padding: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50%;
  }
}
.name {
  font-size: x-large;
  text-shadow: 2px 0 0 #ff9f9f, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  color: #af0069;
}
.groom {
  font-weight: 600;
  color: #1a7dc5;
}
.parent {
  color: #1a7dc5;
}
.date {
  color: #df4949;
  span.num {
    font-size: 36px;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
  }
  span.m {
    color: rgb(223, 73, 73);
  }
}
.addToCalender {
  margin: 5px;
  a {
    text-decoration: none;
  }
  button {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    margin: 0 auto;
    border: none;
    background: #e9b6b6;
    padding: 8px 16px;
    cursor: pointer;
  }
}
